<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Обращения</title>
</head>
<body>
<div class="container text-center">
    <br>
    <h2>Обращение пользователей (Администратор)</h2>
    <br>
    <div class="container text-center" th:each="statement : ${statements}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="'Обращение номер : ' + ${statement.id}"></h5>
                <p class="card-text" th:text="'Номер автомобиля  : ' + ${statement.carNumber}"></p>
                <p class="card-text" th:text="'Описание : ' + ${statement.description}"></p>
                <p class="card-text" th:text="'Статус : ' + ${statement.status}"></p>
                <form method="post" th:action="@{/statement/rejected}">
                    <button class="btn btn-primary" type="submit">Отклонить</button>
                </form>
                <form method="post" th:action="@{/statement/confirmation}">
                    <button class="btn btn-primary" type="submit">Подтвердить</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <a class="btn btn-primary" th:href="@{/profile}">Профиль</a>
    <br>
    <br>
    <a class="btn btn-primary" th:href="@{/}">Главная</a>
    <br>
</div>
</body>
</html>